<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-firebasex-crashlytics"
        version="1.0.3"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>Cordova FirebaseX Crashlytics</name>
    <description>Crashlytics module for cordova-plugin-firebasex</description>
    <license>MIT</license>
    <keywords>cordova,firebase,crashlytics</keywords>

    <engines>
        <engine name="cordova" version=">=12.0.0" />
        <engine name="cordova-android" version=">=14.0.0" />
        <engine name="cordova-ios" version=">=7.0.0" />
    </engines>

    <dependency id="cordova-plugin-firebasex-core" />

    <preference name="FIREBASE_CRASHLYTICS_COLLECTION_ENABLED" default="true" />

    <js-module src="www/firebasex-crashlytics.js" name="FirebasexCrashlyticsPlugin">
        <merges target="FirebasexCrashlytics" />
    </js-module>

    <!-- Android -->
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <preference name="GradlePluginGoogleServicesEnabled" value="true" />
        </config-file>

        <!-- Geomatys fork: feature registration removed (Java class removed above). -->
        <!-- Geomatys fork: meta-data removed (Crashlytics SDK no longer present). -->

        <preference name="ANDROID_FIREBASE_CRASHLYTICS_VERSION" default="20.0.4" />
        <preference name="ANDROID_FIREBASE_CRASHLYTICS_NDK_VERSION" default="20.0.4" />

        <!-- Geomatys fork: Java source files removed because they depend on the Firebase Crashlytics SDK
             which is stripped (see comment below). -->
        <!-- <source-file src="src/android/FirebasexCrashlyticsPlugin.java" target-dir="src/org/apache/cordova/firebasex" /> -->
        <!-- <source-file src="src/android/JavaScriptException.java" target-dir="src/org/apache/cordova/firebasex" /> -->
        <!-- Geomatys fork: Crashlytics SDK frameworks removed.
             The SDK refuses to start without the Crashlytics Gradle plugin (build ID missing),
             which is itself incompatible with AGP 8.10+. Since this app does not use Crashlytics,
             we strip the SDK entirely to avoid the runtime crash. -->
        <!-- <framework src="com.google.firebase:firebase-crashlytics:$ANDROID_FIREBASE_CRASHLYTICS_VERSION" /> -->
        <!-- <framework src="com.google.firebase:firebase-crashlytics-ndk:$ANDROID_FIREBASE_CRASHLYTICS_NDK_VERSION" /> -->
        <!-- <framework src="src/android/build.gradle" custom="true" type="gradleReference" /> -->
    </platform>

    <!-- iOS -->
    <platform name="ios">
        <hook type="after_plugin_install" src="scripts/ios/after_plugin_install.js" />
        <hook type="before_plugin_uninstall" src="scripts/ios/before_plugin_uninstall.js" />

        <config-file target="config.xml" parent="/*">
            <feature name="FirebasexCrashlyticsPlugin">
                <param name="ios-package" value="FirebasexCrashlyticsPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/FirebasexCrashlyticsPlugin.h" />
        <source-file src="src/ios/FirebasexCrashlyticsPlugin.m" />

        <preference name="IOS_FIREBASE_SDK_VERSION" default="12.9.0" />

        <podspec>
            <config>
                <source url="https://cdn.cocoapods.org/"/>
            </config>
            <pods use-frameworks="true">
                <pod name="FirebaseCrashlytics" spec="12.9.0"/>
            </pods>
        </podspec>
    </platform>


</plugin>
